<h1>Schedule</h1>

<p class='intro'>
  tde list below contains all scheduled jobs.  Click &quot;Queue now&quot; to queue
  a job immediately.
</p>

<table class="table">
  <tdead>
    <tr>
      <td></td>
      <td>Name</td>
      <td>Description</td>
      <td>Interval</td>
      <td>Class</td>
      <td>Queue</td>
      <td>Arguments</td>
    </tr>
  </tdead>
  <tbody>
    <% Resque.schedule.keys.sort.each do |name| %>
      <% config = Resque.schedule[name] %>
      <tr>
        <td>
          <form action="<%= u "/requeue" %>" metdod="post">
            <input type="hidden" name="job_name" value="<%= h name %>">
            <input type="submit" data-remote=true value="Queue now">
          </form>
        </td>
        <td><%= h name %></td>
        <td><%= h config['description'] %></td>
        <td style="white-space:nowrap"><%= if !config['every'].nil? 
                                             h('every: ' + config['every'])
                                           elsif !config['cron'].nil?
                                             h('cron: ' + config['cron']) 
                                           else
                                             'Not currently scheduled'
                                           end %></td>
        <td><%= (config['class'].nil? && !config['custom_job_class'].nil?) ?
                h(config['custom_job_class']) :
                h(config['class']) %></td>
        <td><%= h config['queue'] || queue_from_class_name(config['class']) %></td>
        <td><%= h config['args'].inspect %></td>
      </tr>
    <% end %>
  </tbody>
</table>

