.row 
  %h1 代码状态

.row
  - process_info_datas = agent_process_info
  - usefull = [0,1,3,4,8,9]
  :css
    .table caption {text-align: left;}
    .table caption h3 {display:inline-block;"}
  %table.table.table-bordered.table-condensed
    %caption
      %h3 process
      %label.lable.lable-info
        %input{:value => 1, :type => "checkbox", :onchange => "ScriptState.showCommand(this);", class: "right"} command
    %thead
      %tr
        - process_info_datas.shift.each_with_index do |item, index|
          - next unless usefull.include?(index)
          %td= item
    %tbody
      - process_info_datas.each do |row|
        - if row.size > 2
          %tr
            - row.each_with_index do |item, index|
              - next unless usefull.include?(index)
              %td= item 
          %tr.hidden.command
            %td
            %td{colspan: "5"}=row.last
        - else
          %tr
            %td= row[0]
            %td{colspan: "5"}=row[1]
  %table.table.table-bordered.table-condensed
    %caption
      %h3 crontab
      %label.lable.lable-info
        %input{:value => 1, :type => "checkbox", :onchange => "ScriptState.showComment(this);", class: "right"} comment
    %tbody
      - crontab_jobs_list.each do |job|
        - if job.start_with?("#")
          %tr.hidden.comment
            %td comment
            %td{colspan: "5"}= job
        - else
          %tr
            %td job
            %td{colspan: "5"}= job
  %table.table.table-bordered.table-condensed
    %caption
      %h3 /etc/rc.d/rc.local
    %tbody
      - rc_local_lines.each do |line|
        %tr
          %td= line

= javascript_include_tag "/javascripts/script_state.js"
