.row
  .col-sm-4
    %h1 发信日志
  .col-sm-4{style: "margin-top:43px;"}
    %div.hidden.check-info.small{style:"text-align: right;color: gray;"} 10受影响
  .col-sm-4.checkbox{style: "margin-top:40px;"}
    %label.right.lable.lable-success
      %input{:value => 1, :type => "checkbox", :onchange => "LogData.showNormal(this);", class: "right", :checked => "checked"} Normal
    %label.right.lable.lable-warning
      %input{:value => 1, :type => "checkbox", :onchange => "LogData.showRaw(this);", class: "right"} Raw
    %label.right.lable.lable-danger
      %input{:value => 1, :type => "checkbox", :onchange => "LogData.showReason(this);", class: "right"} Reason

.row
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th -
        %th time
        %th from
        %th to
        %th subject
        %th result
    %tbody.log-datas
      - @datas.each_with_index do |hash, index|
        - if hash.has_key?(:raw)
          %tr.warning.raw.hidden
            %td= index
            %td{colspan: "5"}= hash[:raw]
        - else
          %tr.normal
            %td= index
            %td= hash[:timestamp]
            %td= hash[:from]
            %td= hash[:to]
            %td= hash[:subject]
            - if hash[:result] == "OK"
              %td= hash[:result]
            - else
              %td= hash[:result].split.first
        - if hash.has_key?(:result) and hash[:result] != "OK"
          %tr.danger.reason.hidden
            %td= index
            %td{colspan: "5"}= hash[:result]

= javascript_include_tag "/javascripts/log_data.js"
