.row
  .col-sm-8
    %h1{style: "display: inline-block"} 发信日志
    %span.checkbox{style: "display:inline-block;"}
      %label.right.lable.lable-success
        %input{:value => 1, :type => "checkbox", :onchange => "LogData.showNormal(this);", class: "right", :checked => "checked"} Normal
      %label.right.lable.lable-warning
        %input{:value => 1, :type => "checkbox", :onchange => "LogData.showRaw(this);", class: "right"} Raw
      %label.right.lable.lable-danger
        %input{:value => 1, :type => "checkbox", :onchange => "LogData.showReason(this);", class: "right"} Reason
      %span.hidden.check-info.small{style:"text-align: right;color: gray;"} 10受影响

.row
  %table.table.table-bordered
    %thead
      %tr
        %th.mobile-hidden -
        %th time
        %th.mobile-hidden from
        %th to
        %th subject
        %th result
    %tbody.log-datas
      - @datas.each_with_index do |hash, index|
        - if hash.has_key?(:raw)
          %tr.warning.raw.hidden
            %td= index
            %td{colspan: "5"}= hash[:raw]
        - else
          %tr.normal
            %td.mobile-hidden= index
            %td= hash[:timestamp]
            %td.mobile-hidden= hash[:from]
            %td= hash[:to]
            %td= hash[:subject]
            - if hash[:result] == "OK"
              %td= hash[:result]
            - else
              %td= hash[:result].split.first
        - if hash.has_key?(:result) and hash[:result] != "OK"
          %tr.danger.reason.hidden
            %td= index
            %td{colspan: "5"}= hash[:result]

= javascript_include_tag "/javascripts/log_data.js"
