.row
  %h1 其他日志

.row
  %ul#logTab.nav.nav-tabs{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a{"data-toggle" => "tab", :href => "#unicorn", :role => "tab"} unicorn
    %li.active{:role => "presentation"}
      %a{"data-toggle" => "tab", :href => "#unicorn_error", :role => "tab"} unicorn_error
    %li{:role => "presentation"}
      %a{"data-toggle" => "tab", :href => "#nohup", :role => "tab"} nohup
    %li{:role => "presentation"}
      %a{"data-toggle" => "tab", :href => "#chkdog", :role => "tab"} chkdog
    %li{:role => "presentation"}
      %a{"data-toggle" => "tab", :href => "#logarc", :role => "tab"} logarc
    %li{:role => "presentation"}
      %a{"data-toggle" => "tab", :href => "#startup", :role => "tab"} startup
  :css 
    pre { margin-top: 0px; margin-bottom: 0px; border: none; border-radius: 0px; padding: 0px 20px; min-height: 20px;}
  .tab-content
    #unicorn.tab-pane.active{:role => "tabpanel"}
      - @unicorn_datas.each do |line|
        %pre= line
    #unicorn_error.tab-pane{:role => "tabpanel"}
      - @error_datas.each do |line|
        %pre= line
    #nohup.tab-pane{:role => "tabpanel"}
      - @nohup_datas.each do |line|
        %pre= line
    #chkdog.tab-pane{:role => "tabpanel"}
      - @chkdog_datas.each do |line|
        %pre= line
    #logarc.tab-pane{:role => "tabpanel"}
      - @logarc_datas.each do |line|
        %pre= line
    #startup.tab-pane{:role => "tabpanel"}
      - @startup_datas.each do |line|
        %pre= line

:javascript
  $(function () {
    $('#logTab a:last').tab('show')
  })
