<div class="span8 offset2">

   <div class="row">
      <h4>SendMail</h4>
      <table class="table table-striped table-bordered">
	 <thead>
	    <tr>
	      <% %w(index 域名  时速(封) ETH Valid/ALL WaitMails NeedTime Worker Klass RunAt).each do |dd| %>
		<td><%= dd %></td>
	      <% end %>
	    </tr>
	 </thead>
	 <tbody>
	    <% wait_mails = chkMail %>
	    <% workers = Resque.workers %>
	    <% sendMailStates.each do |sm| %>
	    <tr>
		 <td><%= sm[0] + 1 %></td>
		 <td><%= sm[1] %></td>
		 <td><%= sm[2] %></td>
		 <td><%= sm[3] %></td>
		 <td> 
		     <% eth_valids = getEthValids(sm[1]) %>
		     <%= eth_valids[0] ? 'unkown' : eth_valids[1].size %>/16
		 </td>
		 <td><% wait_mail = wait_mails[sm[0]].to_i %>
		     <%= wait_mail %> 
		 </td>
		 <td><%= wait_mail ? 60* wait_mail/sm[2].to_i/eth_valids[1].size : 0 %></td>
		 <td><% worker = workers.select { |w| w.processing["queue"] ==  sm[4]} %>
		     <% data = worker.size > 0 ? worker[0].processing : {} %>
		     <%= worker.size %>
		 </td>
		 <td><%= data["queue"] ? data["payload"]["class"] : nil %></td>
		 <td><%= data["queue"] ? Time.parse(data["run_at"]).strftime("%y/%m/%d %H:%M:%S") : nil %></td>
		
	    </tr>
	       <% end %>
	 </tbody>
      </table>
   </div>

   <div class="row">
						 end %></td>
	      <td><%= (config['class'].nil? && !config['custom_job_class'].nil?) ?
		      h(config['custom_job_class']) :
		      h(config['class']) %></td>
	      <td><%= h config['queue'] || Resque.queue_from_class(Resque.constantize(config['class'])) %></td>
	      <td><%= h config['args'].inspect %></td>
	    </tr>
	  <% end %>
	  </tbody>
      </table>


     </div>
   
  </div>
