<!DOCTYPE html>
<html>
<head>
  <title>FocusAgent</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => "layouts/header"%>
<%= hidden_field_tag 'controller_head', params[:controller]%>

<div class="container">
   <div class="span12">
     <div class="row">

      <%= yield %>

     </div>
  </div>
</div>

</body>
<script type="text/javascript">
  	$(document).ready(function(){
  		var head_num = 0;
  		$("#navbar_head li").each(function(){
  			$(this).removeClass('active');
  		})
  		
  		var head_name = $("#controller_head").val();
  		switch(head_name){
  			case 'send_mail': head_num = 1; break;
  			case 'mail_gates': head_num = 2; break;
  			case 'mail_log': head_num = 3; break;
  			case 'test_mail': head_num = 4; break;
  			case 'worker': head_num = 5; break;
  			case 'chk_mail': head_num = 6; break;
  			default:head_num = 0;
  		}
  		$("#navbar_head li:eq(" + head_num + ")").addClass('active')

  	});
</script>
</html>
